/*********************************************************************/
/* Camera                                                            */
/*********************************************************************/


#camera {
	margin-left:auto;
	margin-right:auto;
	max-width:680px;
	max-height:480px;
	background-color: red;
	position: relative;
}

#filtres{
	display:flex;
	overflow-y:auto;
	margin-left:12.5%;
	margin-right:12.5%;
	width:75%;
	height:10%;
	background-color:red;
}


.filtre {
	width:20%;
	height:100%;
}

.toshow {
	width: 680px;
	height: 480px;
	display: none;
	position: absolute;
}

#video {
	width: 680px;
	height: 480px;
}

#canvas {
	position: absolute;
}
