/*********************************************************************/
/* Camera                                                            */
/*********************************************************************/


#takephoto {
	text-align: center;
	width:100%;
	min-height: 93%;
}

#camera {
	margin-left:auto;
	margin-right:auto;
	width:680px;
	height:480px;
	position: relative;
	margin-top: 1vh;
}

#filtres{
	display:flex;
	overflow-y:auto;
	margin-left:auto;
	margin-right:auto;
	width:680px;
	height:10%;
}


.filtre {
	width:20%;
	height:100%;
}

.toshow {
	width: 680px;
	height: 382px;
	display: none;
	position: absolute;
	margin-right: auto;
	margin-top: 49px;
}

#video {
	width: 100%;
	height: 100%;
}

#canvas {
	position: absolute;
	height : 100%;
	width: 100%;
}

#startbutton{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	width: 25%;
	height: 2.5vh;
	border: 0;
	color: #FFFFFF;
	font-size: 100%;
	background-color: inherit;
}

#upload{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	width: 25%;
	height: 2.5vh;
	border: 0;
	color: #FFFFFF;
	font-size: 100%;
	background-color: inherit;
	text-align: center;
}

#divoldphotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left:auto;
	margin-right:auto;
	width:680px;
	height:480px;
	margin-top: 1vh;
	overflow-x: auto;
}

.oldphoto {
	width: 96px;
	height: 96px;
}

.camform{
	display: inline-block;
	width:25%;
}
