/*********************************************************************/
/* Camera                                                            */
/*********************************************************************/


#takephoto {
	text-align: center;
	width:100%;
	min-height: 93%;
}

#camera {
	margin-left:auto;
	margin-right:auto;
	max-width:680px;
	max-height:480px;
	position: relative;
	margin-top: 1vh;
}

#filtres{
	display:flex;
	overflow-y:auto;
	margin-left:auto;
	margin-right:auto;
	width:680px;
	height:10%;
}


.filtre {
	width:20%;
	height:100%;
}

.toshow {
	width: 680px;
	height: 480px;
	display: none;
	position: absolute;
}

#video {
	width: 680px;
	height: 480px;
}

#canvas {
	position: absolute;
}

#startbutton{
	margin-top: 1vh;
}

#divoldphotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left:auto;
	margin-right:auto;
	max-width:680px;
	max-height:480px;
	margin-top: 1vh;
	overflow-x: auto;
}

.oldphoto {
	width: 96px;
	height: 96px;
}
