#bigdiv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #607D8B;
	margin-right: 10vw;
	margin-left: 10vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

/*********************************************************************/
/* Header                                                            */
/*********************************************************************/

#header {
	display:block;
	background-color: inherit;
	height : 7.5%;
	width: 100%;
}

#connected {
	float: right;
	background-color: inherit;
	width: 50%;
	height: 100%;
	position: relative;
}

#deco {
	float: right;
	background-color: inherit;
	width: 50px;
	height: 50px;
}

#deco:hover
{
	background-color: #42A5F5;
}

#noconnect {
	float: right;
	background-color: inherit;
	width: 50%;
	height: 100%;
}

#cobutton {
	float: right;
	font-size: 100%;
	border: 0;
	background-color: inherit;
	color: white;
}

#cobutton:hover
{
	background-color: #42A5F5;
}


#hname
{
	margin-top: 0.5%;
}

#hname h1
{
	color: white;
	display: inline;
}
