#allphotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:flex-start;
	width: 100%;
}

#img_name {
	width: 200px;
	height: 250px;
	text-align: center;
	border: 1px Solid Black;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-top: 1.5vh;
}

#imgdiv {
	width: 200px;
	height: 200px;
	border-bottom: 1px Solid Black;
}

#imgdiv img {
	width: 100%;
	height: 100%;
}

#rename {
	margin-top: 2%;
	display : flex;
	justify-content: wrap;
	justify-content: center;
	max-width: 100%;
	max-height: 10%;
}

.cname {
	width: 10%;
	height: 100%;
}

.imgname{
	width: 30%;
	height: 10%;
}

.suppr
{
	width: 8%;
	height: 8%;
	float: right;
}
