#alldetails {
	width: 680px;
	background-color: inherit;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
}


#alldetails h3 {
	text-align: center;
}

.imgbody {
	display: inline-block;
}

.image {
	width: 680px;
	height: 480px;
}

#usercarac{
	background-color: #CFD8DC;
	display: flex;
	flex-wrap: wrap;
	min-width: 200px;
	max-width: 680px;

}

#username {
	margin-left: 5%;
}

#user_photo{
	width: 50px;
	height: 50px;
	border: solid;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2px;
}

#user_photo img {
	width: 100%;
	height: 100%;
}

#photocarac
{
	width: 100%;
	min-height: 75px;
	background-color: #CFD8DC;
}

#photocarac h3 {

	margin-top: 0px;
}

#user_photo p
{
	display: inline-block;
}


#likimg {
	float: right;
	height: 30px;
	width: 30px;
}

#photocarac p {
	float : right;
	background-color: #CFD8DC;
}

#comimg {
	margin-left: 10px;
	float: right;
	height: 30px;
	width: 30px;
}

#comments {
	margin-left: 1%;
}

#comdiv {
	display: flex;

}

#sendcom{
	width: 680px;
	background-color: #CFD8DC;
	margin-top: 0.5vh;
	margin-left: auto;
	margin-right: auto;
}

#sendcom textarea {
	width: 660px;
	height: 50px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#sendcom input[type="submit"] 
{
	width: 660px;
	height: 25px;
	border: 0;
	font-size: 100%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#coms {
	background-color: #CFD8DC;
	display: inline-block;
	width: 100%;
}

#comment{
	display: inline-block;
	height: 75px;
	display: flex;
}

#user_id{
	max-width: 30%;
	text-align: center;
}
#user_id img {
	width: 50px;
	height: 50px;
}

#user_id p
{
	margin-top: 0px;
}

#text {
	margin-left: 1%;
	max-width: 69%;
	text-align: center;
	overflow-x: auto;
	overflow-y: auto;
}

#nbcomment {
	margin-right: 5px;
}
