#bigdiv {
	background-color:red;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

button{
	border: none;
	background-color: Blue;
	width: 10%;
	height: 100%;
	border-radius: 1vh;
	font-size: 1vmin;
	text-align: center;
}

button:hover{
	background-color: #E1F5FE;
	border: 0.1em Solid Blue;
	font-style: italic;
}

#menu {
	display: flex;
	justify-content: center;
	background-color:green;
	text-align:center;
	width: 100%;
	height: 2.5%;
}

#connection {
	margin-top: 2%;
	background-color: #E1F5FE;
	width: 40%;
	height:50%;
	font-size: 1vmin;
	margin-left: 30%;
}

#inscription {
	margin-top: 2%;
	background-color: #E1F5FE;
	width: 40%;
	height:50%;
	font-size: 1vmin;
	margin-left: 30%;
}

p {
	color: red;
}

#intro {
	text-align: center;
	margin-top: 5%;
	line-height: 150%;
	color : black;
	display: inline-block;
	width: 100%;
}

label {
	display: inline-block;
	margin-left: 25%;
	width: 15%;
	height: 1%;
}

#acceuil {
	background-color: yellow;
	width: 40%;
	height: 2.5%;
	margin-left: 30%;
}

#okey {
	width: 20%;
	margin-left: 35%;
	margin-top: 2.5%
}

#retour {
	float: right;
	width: 25%;
}

input {
	margin-top: 1%;
	width: 20%;
}

#error {
	background-color: green;
	margin-left: 25%;
	width:35%;
}
